/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}


/*  ----------------------- HEADER --------------------------- */
header {
    
    .logo{
        display: flex;
    }
    
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 3.5rem $gutter;
    
    form {float:right;}
    form input {
        width: 4rem;
        border-radius: 10px;
        margin-right:2%;
        padding: .2rem;
        border: none;    
        transition: width 1s;
    }
    form input:focus{width:5rem;}
    
    h1 {
        font-family: $secondFont;
        font-size: 2rem;
        font-weight: $normalWeight;
    } // end of h1
    
    h2 {
        font-family: $secondFont;
        padding-top: 1rem;
        font-size: 1.05rem;
        font-weight: $normalWeight;
    } // end of h1

/*  ------------- SOCIAL ICONS --------------------------- */
  
    ul.social {float: right; display: inline-flex;}
    ul.social li {list-style-type: none;  margin-bottom: 5px;}
    ul.social li a {
        font-size: 1.6rem;
        padding-left: .5rem;
        color: white;
        -webkit-transition-property: all; /* Safari */
        -webkit-transition-duration: 2s; /* Safari */
        transition-property: all;
        transition-duration: 2s;
    }
    ul.social li:hover{
        color: #baa256; 
        transition: 1s;       
        transform: scale(1.3);
    }
    
} // end of header



/*  ----------------------- NAVIGATION --------------------------- */
nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    
    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0,0,0,0.3);
    } // end of li
    
    ul li:last-child {border-right: none;}
    
    ul li a {
        display: block;
        text-align: center;
        font-weight: $boldWeight;
        padding: .5rem 0;
        color: $primaryColor;
        text-decoration: none;
       transition: background 0.75s ease, color 0.75s ease;
    } // end of anchors
    

    
    ul li.active a {
        background-color: darken($secondaryColor, 10%);
    } // end of active
    
        ul li a:hover {
        color:$secondaryColor;
        background-color: $primaryColor;
    } // end hover
    
    /*------------DROPDOWN MENU-----------*/
    
    .dropbtn{
        
        color: white;
            
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: black;
    padding: 15px 35px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: $primaryColor}
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    
    .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    }

} // end nav


/*------- SLIDE SHOW ---------*/
#slideShow {
    height: auto;
    margin-top: 20px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif; margin:0!important;}
.mySlides {display: none}
img {vertical-align: middle!important;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*  ----------------------- MAIN --------------------------- */
main {
    
     
    #sectionTitle{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    figure.banner {
        width: 100%; 
        padding-top: 30px;
       
    }
    figure.banner img {width: 100%; }
    
    /*---------2018 CARS---------*/
    
    #captionCars {
        color: $accent;
        font-size: 18px;
        width: 190px;
        background-color: transparent;
        margin: 2px ;
        padding: 3px 0 3px 0;
    }
    
    h1 {
        font-size: 2rem;
        margin: 1rem 0 0 $gutter;
        color: $primaryColor;
    } // end h1
    
    h2 {
		font-size: 1.5rem;
		margin: .75rem 0 0 $gutter;
		color: lighten( $primaryColor, 10% );
        padding-top: 1rem;
	} // end h2
	
	h3 {
		font-size: 1.2rem;
		color: lighten( $primaryColor, 20% );
	} // end h2
	p {
		line-height: 130%;
		color: $accent;
	} // end p
    
    
    hr.fadeAway {
        background: linear-gradient(to right, rgba(66,78,100,1) 0%,rgba(66,78,100,0.01) 100%);
        height: 5px;
        border: none;
        margin: 0 $gutter;
        margin-bottom: 20px;
    }
    
    figure.photo {width: 100%-$gutterdbl; margin: .5rem $gutter; }
    figure.photo img {width: 100%;}
    figure.photo figcaption{text-align: center; color: $primaryColor;}
    
    div.blog article {
        margin: .5rem $gutter;
        width: 100%-gutterdbl;
    }
    
    #videosContainer{
        margin-top: 30px;
    }
    
    div.pop {
        margin: 30px auto;
        height: auto;
        background-color: $accent;
        text-align: center;
        clear: both;
        padding: 1rem 0;
        .title {font-size: 2.5rem; color: $fontColor;}
        .subtitle {font-size: 2rem; font-weight: $normalWeight; color: $fontColor;}
        .copy {padding: .5rem 0;}
        .copy span {
            font-size: 3rem; 
            color: $fontColor; 
            font-weight: $normalWeight;
        } // end span
    }
    
    
    figure {width: 33%; float: left;}
    figure img {width: 100%; padding: 0 10px 10px 0;}
    
    
    .moreNews a{
        float: right;
        padding-bottom: 30px;
        text-decoration: none; 
        color: blue;
    }
    
    .moreVideos a{
        float: right;
        padding: 15px 15px 20px 0;
        text-decoration: none;
        color: white;
    }
    
    /*---------COLUNM LAYOUT-------------*/
    
    .row {clear: both;}
    
    .colunm { padding: 0 $gutter;}
    
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;
        .small-#{$i} {width:  $w; float: left;}
    }
    
} // end main



/*  ----------------------- FOOTER --------------------------- */


footer {
    
    width: 100%;
    background-color: $accent;
    height: 20rem;    
    
    
    
    p { 
        padding-top: 18rem;
        text-align: center;
        color: $secondaryColor;
        font-size: 1rem;
    } // end p
    
    p a {color: $secondaryColor; }
    
} // end footer


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
